
body{
    background-color: ghostwhite ;
    font-style: bold;
    font-size-adjust: unset;
}
nav{
    background-color: lavender;
    font-style: italic;
    text-align: center;
    float: center;
    margin: 1px;
    
}
h1{
    font-style: bold;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    float: center;
    position: absolute;
}
.Portfolio{
   
    margin: 0 auto;
   
    text-align: center;
}
h3{
    margin: 0 auto;
    position:absolute;
    text-align: center;
}
footer{
    background-color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
}
  header{
  
    margin: 0 auto;
   
    text-align: center;
  }
